/* === For your Responsive CSS === */
img {
max-width: 100%;
}

@media screen and (max-width:600px){
    
    grid-template-columns: 100%;
}

#nav a {
display: block;
background-color: orange;
    text-align: center;
    padding: 5px;
   
    
}

#nav {
    margin-bottom: 10px;
}

#logo {
    text-align: center;
}

#splash {
font-size: 2rem;
line-height: 2.5rem;
    height: 10.7rem;
    text-align: center;
    padding-top: 50px;
}

main {
grid-template-column: 100%;
    text-align: center;
}

#splash {
grid-column: 1/2;
}
#app {
grid-column: 1/2;
}

footer {
    text-align: center;
    
}

#mobile-menu {
position: fixed;
top: 10px;
left: 10px;
}

@media screen and (min-width:601px){
    
    display: none;
}

body {
    background-color: #fcd303;
}

main {
    background-color: #ffdd80;
}

#splash {
    background-image: url(splash-backing.jpg);
    
color: white;
    text-shadow: 0px 0px 
}

header,
footer {
    color: #b56441;
}

a {
    text-decoration: none;
    color: #b56441;
}
    
nav a: hover {
    color: #7d4700;
}
    
    button {
         border: 0;
    background-color: #b56441;
    color: #fff; 
    }
#app-text {
    padding: 50px;

}

#legal {
     font-style: italic;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
     font-size: 1rem;
    line-height: 1.29rem;
}

h2 {
    font-size: 2.14rem;
}

button {
    border: 0;
    background-color: #b56441;
    color: #fff;
    padding: 20px;
    font-size: 2.14rem;
    margin-top: 15px;
    margin-bottom: 50px;
}

* {
    box-sizing: border-box;
}

#app {
    margin-top: 40px;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    html {
        background: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html {
        background: black;
        color: white;
    }
}

/* Defaults */
:root {
    --color-scheme-background: pink;
    --color-scheme-text-color: red;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --color-scheme-background: white;
        --color-scheme-text-color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-scheme-background: black;
        --color-scheme-text-color: white;
    }
}

/* Usage */
html {
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
}